<h1>Welcome to the Quest!</h1>

<p>Choose your quest:</p>
<table>
<thead>
  <tr>
    <td>Quest 1</td>
    <td>Quest 2</td>
    <td>Quest 3</td>
  </tr>
 </thead>
 <tbody>
  <tr>
    <td>
      <%= form_tag("/game/ocean", method: "post") do %>
        <%= submit_tag("Ocean") %> 
      <% end %>
    </td>
    <td>
      <%= form_tag("/game/jungle", method: "post") do %>
        <%= submit_tag("Jungle") %> 
      <% end %>
    </td>
    <td>
      <%= form_tag("/game/ice", method: "post") do %>
        <%= submit_tag("Ice") %> 
      <% end %>
    </td>
  </tr>
  <tr>
    <td>The Ocean quest is a journey full of temptations, riches and fame.</td>
    <td>The Jungle quest is a long and challenging journey that will require much strength.</td>
    <td>The Ice quest is a perilous and cold journey</td>
  </tr>
 </tbody>

</table>